body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgb(51, 49, 131);
  font-size: 18px;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
#H {
  background-color: rgb(179, 224, 245);
  height: 400px;
}

/* Changing navbar font color */
.navbar.navbar-expand-lg.navbar-light.bg-custom .container-fluid a {
  color: rgb(82, 26, 172);
}

.Intro {
  padding: 50px;
  font-size: 50px;
}
p2 {
  font-size: 20px;
  color: green;
  display: inline-block;
  margin: 0 0.5rem;
  text-align: center;

  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}
h1 {
  color: rgb(82, 26, 172);
  font-size: 60px;
}

h6 {
  color: rgb(94, 86, 209, 0.993);
}

h2 {
  color: rgb(17, 0, 255);
}
p1 {
  color: rgb(94, 86, 209, 0.993);
}
h3 {
  color: rgb(17, 0, 255);
}

#ABOUT,
#E,
#S,
#Ed,
#P {
  margin-top: 80px;
  margin-bottom: 80px;
}

.progress {
  margin-top: 20px;
}
.zoom {
  transition: transform 0.2s;
}
.zoom:hover {
  -ms-transform: scale(1.05); /* IE 9 */
  -webkit-transform: scale(1.05); /* Safari 3-8 */
  transform: scale(1.05);
}

.image {
  border-radius: 50%;
}

img {
  border-radius: 50%;
}

#Cont {
  background-color: rgb(179, 224, 245);
}

.SocialMedia {
  padding-left: 8px;
}
